<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773922645817-7osjuk285bob9ikjrbsla93t6rflhikk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773922645817-7osjuk285bob9ikjrbsla93t6rflhikk</string>
	<key>API_KEY</key>
	<string>AIzaSyDUeGN5e4_sdg8Oxh4fizBpKmWX6w0Kfhc</string>
	<key>GCM_SENDER_ID</key>
	<string>773922645817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMlkit</string>
	<key>PROJECT_ID</key>
	<string>machinelearning-239812</string>
	<key>STORAGE_BUCKET</key>
	<string>machinelearning-239812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:773922645817:ios:fb1f4f47600b4ae1d66ae8</string>
	<key>DATABASE_URL</key>
	<string>https://machinelearning-239812.firebaseio.com</string>
</dict>
</plist>
